body{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    /*background: linear-gradient(90deg, #1B4F72 0%, #2E86C1 35%, #AED6F1 100%);*/ /*blue gradient*/
}

.myform{
	/*background: #3498DB;*/  /*blue*/
	background: #E5E7E9;  /*gray*/
}

.bigtitle{
    text-decoration : underline;
    color: #F8C471;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;


}

.formtitle{
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;
}

.block-content{
    position: relative;
    z-index: 0;
}

.block-header{
    position: relative;
    z-index: 1000;
}
