{% extends 'RainyDaysHero/base.html' %}

{% block additionnal-head-conf %}
	{% load static %}
	<!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/styleQuotationForm.css' %}">
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'RainyDaysHero/retroChart.js' %}"></script>

{% endblock %}



{% block content %}


	<div class="container my-2 block-content" style={visibility='hidden'}>
	  <div class="row">
	    <div class="col-md-6 mx-auto myform">
	    <h3 class="formtitle">Please fill the retrospective form</h1>

		<form action="/rdh/retrospective/" method="post">
			{% csrf_token %} 
	      <div class="form-group">
	        {{ form.clientName }}
	        <label class="form-control-placeholder" for="{{ form.clientName.id_for_label }}">Company Name</label>

	      </div>
	      <div class="form-group">
	        {{ form.dailyMaxTurnover }}
	        <label class="form-control-placeholder" for="{{ form.dailyMaxTurnover.id_for_label }}">Daily Max Turnover</label>
	      </div>

	      <div class="form-group">
	        {{ form.fixedCosts }}
	        <label class="form-control-placeholder" for="{{ form.fixedCosts.id_for_label }}">Daily Fixed Costs</label>
	        
	      </div>

	      <div class="form-group">
	        {{ form.rainfall }}
	        <label class="form-control-placeholder" for="{{ form.rainfall.id_for_label }}">{{ form.rainfall.label }}</label>
	      </div>

	      <div class="form-group">
	        {{ form.subscriptionDate }}
	        <label class="form-control-placeholder" for="{{ form.subscriptionDate.id_for_label }}">{{ form.subscriptionDate.label }}</label>
	        
	      </div>

	      <div class="form-group">
	        {{ form.location }}
	        <label class="form-control-placeholder" for="{{ form.location.id_for_label }}">{{form.location.label}}</label>
	      </div>

	      <div class="form-group">
	        {{ form.printPDF }}
	        <label class="form-control-placeholder" for="{{ form.printPDF.id_for_label }}">{{form.printPDF.label}}</label>
	      </div>
	      
	      <div class="form-group">
	        <button type="submit" class="btn btn-primary">Retrospective</button>
	      </div>
		</form>
		<div class="form-group">
	        <label>Premium = {{price}} &euro;</label> <br>
	        <label>Covered Turnover = {{c}} &euro;</label> <br>
	        <label>Not Covered Turnnver = {{nc}} &euro;</label> <br>
	     </div>
	     <div class="form-group">
	            <div class="card">
	                <div class="card-body">
	                    <canvas id="retrospectiveChart"></canvas>
	                </div>
	            </div>
         </div>

	    </div> <!--My form-->

	  </div> <!--Row-->

	</div> <!--Container-->
<script type="text/javascript">
//line
var ctxL = document.getElementById("retrospectiveChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
type: 'line',
data: {
labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
datasets: [{
label: "Covered",
data:  {{cm}},
backgroundColor: [
'rgba(105, 0, 132, .2)',
],
borderColor: [
'rgba(200, 99, 132, .7)',
],
borderWidth: 2
},
{
label: "Not Covered",
data:  {{ncm}},
backgroundColor: [
'rgba(0, 137, 132, .2)',
],
borderColor: [
'rgba(0, 10, 130, .7)',
],
borderWidth: 2
}
]
},
options: {
responsive: true
}
});
</script>
  
{% endblock %}