{% extends 'RainyDaysHero/base-second.html' %}

{% block additionnal-head-conf %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/styleQuotationForm.css' %}">
{% endblock %}

{% block content %}


	<div class="container my-2 block-content" style={visibility='hidden'}>
	  <div class="row">
	    <div class="col-md-6 mx-auto myform">
	    <h3 class="formtitle">Please fill the pricing form</h1>
	    	It is possible to predict the price from three models: Lasso, Linear Regression, Polynomial Regression and Polynomial Scaled which have respectively 0.2276, 0.2825, 0.9876 and 0.897 precision.
	    <br> <br>

		<form action="/rdh/terminsurance/" method="post">
			{% csrf_token %} 
	      <div class="form-group">
	        {{ form.clientAge}}
	        <label class="form-control-placeholder" for="{{ form.clientAge.id_for_label }}">Age</label>
	      </div>

	      <div class="form-group">
	        {{ form.numberOfPayements}}
	        <label class="form-control-placeholder" for="{{ form.numberOfPayements.id_for_label }}">Number of payements</label>
	      </div>

	      <div class="form-group">
	        {{ form.maturity }}
	        <label class="form-control-placeholder" for="{{ form.maturity.id_for_label }}">Maturity</label>
	      </div>

	      <div class="form-group">
	        {{ form.interestRate }}
	        <label class="form-control-placeholder" for="{{ form.interestRate.id_for_label }}">{{ form.interestRate.label }}</label>
	      </div>

	      <div class="form-group">
	        {{ form.amount }}
	        <label class="form-control-placeholder" for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
	      </div>

	      <div class="form-group">
	        {{ form.model }}
	        <label class="form-control-placeholder" for="{{ form.model.id_for_label }}">{{form.model.label}}</label>
	      </div>
	      
	      <div class="form-group">
	        <button type="submit" class="btn btn-dark">Pricing</button>
	      </div>
		</form>
	    </div>
	  </div>
	</div>
    
{% endblock %}