{% extends 'RainyDaysHero/base-second.html' %}

{% block additionnal-head-conf %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/styleQuotationForm.css' %}">
    <script type="text/javascript" src="{% static 'RainyDaysHero/js/chart-min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container my-2 block-content">
        <div class="row">
            <div class="col-md-6 mx-auto myform">
                <h3 class="formtitle">Pure Endowment Accounting</h3>

                <form action="/rdh/pureendowment-accounting/" method="post" onsubmit="return checkForm(this);" >
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form.contractOrTotal }}
                        <label class="form-control-placeholder" for="{{ form.contractOrTotal.id_for_label }}">{{form.contractOrTotal.label}}</label>
                    </div>

                    <!-- required for contract & total -->
                    <div class="form-group">
                        {{ form.mortalityStress }}
                        <label class="form-control-placeholder" for="{{ form.mortalityStress.id_for_label }}">{{form.mortalityStress.label}}</label>
                    </div>
                    <div class="form-group">
                        {{ form.interestRateStress }}
                        <label class="form-control-placeholder" for="{{ form.interestRateStress.id_for_label }}">{{form.interestRateStress.label}}</label>
                    </div>
                    <div class="form-group">
                        {{ form.adaptedModel }}
                        <label class="form-control-placeholder" for="{{ form.adaptedModel.id_for_label }}">{{form.adaptedModel.label}}</label>
                    </div>

                    <div id="contract" style="display: none;">
                        <div class="form-group">
                            {{ form.clientAge}}
                            <label class="form-control-placeholder" for="{{ form.clientAge.id_for_label }}">Age</label>
                        </div>

                        <div class="form-group">
                            {{ form.numberOfPayements}}
                            <label class="form-control-placeholder" for="{{ form.numberOfPayements.id_for_label }}">Number of payements</label>
                        </div>

                        <div class="form-group">
                            {{ form.maturity }}
                            <label class="form-control-placeholder" for="{{ form.maturity.id_for_label }}">Maturity</label>
                        </div>

                        <div class="form-group">
                            {{ form.interestRate }}
                            <label class="form-control-placeholder" for="{{ form.interestRate.id_for_label }}">{{ form.interestRate.label }}</label>
                        </div>

                        <div class="form-group">
                            {{ form.amount }}
                            <label class="form-control-placeholder" for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
                        </div>

                    </div>

                    <div class="form-group">
                        {{ form.IAorActuarial }}
                        <label class="form-control-placeholder" for="{{ form.IAorActuarial.id_for_label }}">{{form.IAorActuarial.label}}</label>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Compute</button>
                    </div>
                </form>

            </div> <!--My form-->

        </div> <!--Row-->

    </div> <!--Container-->

    <script type="text/javascript">

        //balance type form switch
        function balanceTypeSwitch(){
            if(document.getElementById("{{ form.contractOrTotal.id_for_label }}").value=='Contract'){
                document.getElementById("contract").style.display="block";
            }
            if(document.getElementById("{{ form.contractOrTotal.id_for_label }}").value=='Total'){
                document.getElementById("contract").style.display="none";
            }
        }
        //balance type form switch end


        function checkForm(form)
        {
            if(document.getElementById("{{ form.contractOrTotal.id_for_label }}").value=='Contract'){
                //POSITIVITY
                //i > 0
                if(parseFloat(form.interestRate.value) < 0) {
                    alert("The interest rate must be positive !");
                    form.interestRate.focus();
                    return false;
                }
                //amount > 0
                if(parseFloat(form.amount.value) <= 0) {
                    alert("The amount must be strictly positive !");
                    form.amount.focus();
                    return false;
                }
                // client age
                if(parseInt(form.clientAge.value) < 0) {
                    alert("The client age must be positive!");
                    form.clientAge.focus();
                    return false;
                }
                // n
                if(parseInt(form.maturity.value) <= 0) {
                    alert("The maturity (n) must be strictly positive !");
                    form.maturity.focus();
                    return false;
                }
                // m
                if(parseInt(form.numberOfPayements.value) <= 0) {
                    alert("The number of payement (m) must be strictly positive !");
                    form.numberOfPayements.focus();
                    return false;
                }
                //SPECIAL CONDITIONS
                // client age
                if(parseInt(form.clientAge.value) > 100) {
                    alert("The client age must be less than 100 !");
                    form.clientAge.focus();
                    return false;
                }
                // n >=m
                if(parseInt(form.maturity.value) < parseInt(form.numberOfPayements.value)) {
                    alert("The number of payements (m) must be less or equal to the maturity !");
                    form.numberOfPayements.focus();
                    return false;
                }
            }

            // validation was successful
            return true;
        }


    </script>
{% endblock %}