{% extends 'RainyDaysHero/base-second.html' %}

{% block additionnal-head-conf %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/styleQuotationForm.css' %}">
{% endblock %}

{% block content %}

    <div class="container my-2 block-content">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link text-dark active" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="true">Model Analysis</a>
                        <a class="nav-item nav-link text-dark " id="nav-userguide-tab" data-toggle="tab" href="#nav-userguide" role="tab" aria-controls="nav-userguide" aria-selected="false">P&L</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
                        <h3 class="formtitle">Pure Endowment models analysis</h3>
                        <p style="text-align: justify;">
                            We only used the Polynomial Scaled model because it was the best model during premium prediction for Term Insurance and these two products are very similar.<br>
                        </p>
                        <br> <br>
                        <p>
                            Polynomial scaled (precision: 0.999882 - Root mean squared error: 16.61) <br>
                        <div class="form-group">
                            <img src="{% static 'RainyDaysHero/images/PE/lc/lc-psc.png' %}" width="500" height="300" >
                            <img src="{% static 'RainyDaysHero/images/PE/r2/R2-degree-poly-scaled.png' %}" width="500" height="300" >
                        </div>
                        </p>

                    </div>

                    <div class="tab-pane fade" id="nav-userguide" role="tabpanel" aria-labelledby="nav-userguide-tab">
                        <div class="form-group">
                            <img src="{% static 'RainyDaysHero/images/PE/pnl/age.png' %}" width="500" height="300" >
                            <br> <br>
                        </div>
                        <div class="form-group">
                            <img src="{% static 'RainyDaysHero/images/PE/pnl/payement.png' %}" width="500" height="300" >
                            <br> <br>
                        </div>
                        <div class="form-group">
                            <img src="{% static 'RainyDaysHero/images/PE/pnl/maturity.png' %}" width="500" height="300" >
                            <br> <br>
                        </div>
                        <div class="form-group">
                            <img src="{% static 'RainyDaysHero/images/PE/pnl/rate.png' %}" width="500" height="300" >
                            <br> <br>
                        </div>
                        <div class="form-group">
                            <img src="{% static 'RainyDaysHero/images/PE/pnl/amount.png' %}" width="500" height="300" >
                            <br> <br>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}