{% extends 'RainyDaysHero/base-second.html' %}

{% block additionnal-head-conf %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/styleQuotationForm.css' %}">
{% endblock %}

{% block content %}

	<div class="container my-2 block-content" style={visibility='hidden'}>
	  <div class="row">
	    <div class="col-md-12 mx-auto myform">
	    <h3 class="formtitle">Term Insurance models analysis</h1>

	    It is possible to predict the price from four models: Lasso, Linear Regression, Polynomial Regression and Polynomial Scaled which have respectively 0.9052, 0.2825, 0.9876 and 0.8974 precision.
	    <br> <br>

	    <ul>
	    	<li>
	    		Lasso
	    	</li>
	    	<div class="form-group"> <img src="{% static 'RainyDaysHero/images/TI/lc/lc-lasso.png' %}" width="500" height="300" > </div>
	    	<li>
	    		Linear regression
	    	</li>
	    	<div class="form-group"> 
	    		<img src="{% static 'RainyDaysHero/images/TI/lc/lc-lr.png' %}" width="500" height="300" >
	    	</div>
	    	<li>
	    		Polynomial regression
	    	</li>
	    	<div class="form-group"> 
	    		<img src="{% static 'RainyDaysHero/images/TI/lc/lc-plr.png' %}" width="500" height="300" >
	    		<img src="{% static 'RainyDaysHero/images/TI/r2/R2-degree-poly-regression.png' %}" width="500" height="300" >
	    	</div>
	    	<li>
	    		Polynomial scaled
	    	</li>
	    	<div class="form-group"> 
	    		<img src="{% static 'RainyDaysHero/images/TI/lc/lc-ps.png' %}" width="500" height="300" > 
	    		<img src="{% static 'RainyDaysHero/images/TI/r2/R2-degree-poly-scaled.png' %}" width="500" height="300" >
	    	</div>

	    	<li>
	    		KNN
	    	</li>
	    	<div class="form-group"> 
	    		<img src="{% static 'RainyDaysHero/images/TI/lc/lc-knn.png' %}" width="500" height="300" > 
	    		<img src="{% static 'RainyDaysHero/images/TI/r2/R2-neighbors-KNN.png' %}" width="500" height="300" >
	    	</div>
	    </ul>


	    </div>
	  </div>
	</div>
    
{% endblock %}