{% extends 'RainyDaysHero/base-second.html' %}

{% block additionnal-head-conf %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/styleQuotationForm.css' %}">
{% endblock %}

{% block content %}

	<div class="container my-2 block-content" style={visibility='hidden'}>
	  <div class="row">
	    <div class="col-md-12 mx-auto myform">
	    <h3 class="formtitle">Term Insurance Accounting</h1>

	    Accounting.
	    <br> <br>



	    </div>
	  </div>
	</div>
    
{% endblock %}