{% extends 'RainyDaysHero/base-second.html' %}

{% block additionnal-head-conf %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/styleQuotationForm.css' %}">
{% endblock %}

{% block content %}

	<div class="container my-2 block-content" style={visibility='hidden'}>
	  <div class="row">
	    <div class="col-md-6 mx-auto myform">
	    <h3 class="formtitle">Please fill the pricing form</h1>
	    	It is possible to predict the price from four models: Lasso, Linear Regression, Polynomial Regression and Polynomial Scaled which have respectively 0.9052, 0.2825, 0.9876 and 0.8974 precision. <br>
	    	We recommend using the polynomial regression or polynomial scaled model.
	    <br> <br>

		<form action="/rdh/terminsurance/" method="post" onsubmit="return checkForm(this);">
			{% csrf_token %} 
	      <div class="form-group">
	        {{ form.clientAge}}
	        <label class="form-control-placeholder" for="{{ form.clientAge.id_for_label }}">Age</label>
	      </div>

	      <div class="form-group">
	        {{ form.numberOfPayements}}
	        <label class="form-control-placeholder" for="{{ form.numberOfPayements.id_for_label }}">Number of payements</label>
	      </div>

	      <div class="form-group">
	        {{ form.maturity }}
	        <label class="form-control-placeholder" for="{{ form.maturity.id_for_label }}">Maturity</label>
	      </div>

	      <div class="form-group">
	        {{ form.interestRate }}
	        <label class="form-control-placeholder" for="{{ form.interestRate.id_for_label }}">{{ form.interestRate.label }}</label>
	      </div>

	      <div class="form-group">
	        {{ form.amount }}
	        <label class="form-control-placeholder" for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
	      </div>

	      <div class="form-group">
	        {{ form.model }}
	        <label class="form-control-placeholder" for="{{ form.model.id_for_label }}">{{form.model.label}}</label>
	      </div>
	      
	      <div class="form-group">
	        <button type="submit" class="btn btn-dark">Pricing</button>
	      </div>
		</form>
		<div class="form-group">
	        <label>Predicted Premium (IA based) = {{price}} &euro;</label> <br>
	        <label>Real Premium (Actuarial Formulae) = {{actuarial_price}} &euro;</label>
	      </div>
	    </div>
	  </div>
	</div>
 
<script>

  function checkForm(form)
  {
  	if(document.getElementById("{{ form.contractOrTotal.id_for_label }}").value=='Contract'){
	    //POSITIVITY
	    //i > 0
	    if(form.interestRate.value < 0) {
	      alert("The interest rate must be positive !");
	      form.interest.focus();
	      return false;
	    }

	    //amount > 0
	    if(form.amount.value <= 0) {
	      alert("The amount must be strictly positive !");
	      form.amount.focus();
	      return false;
	    }

	    // client age 
	    if(form.clientAge.value < 0) {
	      alert("The client age must be positive!");
	      form.clientAge.focus();
	      return false;
	    }
	    // n
	    if(form.maturity.value <= 0) {
	      alert("The maturity (n) must be strictly positive !");
	      form.maturity.focus();
	      return false;
	    }
	    // m
	    if(form.numberOfPayements.value <= 0) {
	      alert("The number of payement (m) must be strictly positive !");
	      form.numberOfPayements.focus();
	      return false;
	    }

	    //SPECIAL CONDITIONS
	    // client age 
	    if(form.clientAge.value > 100) {
	      alert("The client age must be less than 100 !");
	      form.clientAge.focus();
	      return false;
	    }

	    // n >=m
	    if(form.maturity.value < form.numberOfPayements.value) {
	      alert("The number of payement (m) must be less or equal to the maturity !");
	      form.numberOfPayements.focus();
	      return false;
	    }
	}

    // validation was successful
    return true;
  }
</script>

{% endblock %}