# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Cours\Cours_S9\Assurance\Calcul actuariel\cours\TD-actuarial maths\rain-insurance-django\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
